<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="#">HOME</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link active"
        routerLink="/user"
        role="button"
        routerLinkActive="active"
        >User Data</a
      >
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
        >Disabled</a
      >
    </li>
  </ul>
</nav>

<div style="text-align: center; color: brown">
  <h1>{{ title }} app is running!</h1>
</div>
<div style="text-align: center">
  <h2>ZALOGUJ SIĘ</h2>
  <br />

  <div class="container">
    <form [formGroup]="loginFormular" (ngSubmit)="submitLoginForm()">
      <div class="form-row">
        <div
          id="inputUsername"
          class="form-group col-md-6 mb-3 pb-3 input-group-lg"
        >
          <div class="form-check-inline">
            <label for="username" class="form-check-label">SignIn</label>
          </div>
          <input
            type="text"
            class="form-control"
            id="inputUsername"
            name="inputUsername"
            formControlName="inputUsername"
            autocomplete="off"
            [placeholder]="inputLoginPlaceHolder"
          />
        </div>
        <div
          id="inputPassword"
          class="form-group col-md-6 mb-3 pb-3 input-group-lg"
        >
          <div class="form-check-inline">
            <label for="inputPassword" class="form-check-label">Hasło</label>
          </div>
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            name="inputPassword"
            formControlName="inputPassword"
            autocomplete="off"
            [placeholder]="inputPasswordPlaceHolder"
          />
        </div>
      </div>
      <div style="text-align: center">
        <button
          type="submit"
          class="my-wide-btn"
          mat-raised-button
          routerLink="/home"
          role="button"
          routerLinkActive="active"
          [disabled]="loginFormular.invalid"
        >
          LOGIN
        </button>
      </div>
    </form>
    <router-outlet></router-outlet>
  </div>
  <br />
  <div *ngIf="isUserLogin()" style="text-align: center; color: blue">
    <h1>AUTH RESPONSE</h1>
    <br />
    <table style="width: 100%">
      <tr>
        <th>User:</th>
        <td>{{ getUserData().username }}</td>
      </tr>
      <tr>
        <th>Roles:</th>
        <td>{{ getUserData().roles }}</td>
      </tr>
      <tr>
        <th>Token:</th>
        <td>{{ getUserData().token }}</td>
      </tr>
    </table>
    <div style="text-align: center">
      <button
        type="submit"
        class="my-wide-btn"
        mat-raised-button
        (click)="getUserData()"
      >
        GET_SESSION
      </button>
    </div>
  </div>
</div>
