<div style="text-align: center; color: brown">
  <h1>{{ title }} app is running!</h1>
</div>
<div style="text-align: center">
  <h2>ZALOGUJ SIĘ</h2>
  <br />

  <div class="container">
    <form [formGroup]="loginFormular" (ngSubmit)="submitLoginForm()">
      <div class="form-row">
        <div
          id="inputUsername"
          class="form-group col-md-6 mb-3 pb-3 input-group-lg"
        >
          <div class="form-check-inline">
            <label for="username" class="form-check-label">SignIn</label>
          </div>
          <input
            type="text"
            class="form-control"
            id="inputUsername"
            name="inputUsername"
            formControlName="inputUsername"
            autocomplete="off"
            [placeholder]="inputLoginPlaceHolder"
          />
        </div>
        <div
          id="inputPassword"
          class="form-group col-md-6 mb-3 pb-3 input-group-lg"
        >
          <div class="form-check-inline">
            <label for="inputPassword" class="form-check-label">Hasło</label>
          </div>
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            name="inputPassword"
            formControlName="inputPassword"
            autocomplete="off"
            [placeholder]="inputPasswordPlaceHolder"
          />
        </div>
      </div>
      <div style="text-align: center">
        <button
          type="submit"
          class="my-wide-btn"
          mat-raised-button
          [disabled]="loginFormular.invalid"
        >
          ZALOGUJ
        </button>
      </div>
    </form>
  </div>
  <br>
  <div *ngIf="isResposne" style="text-align: center; color: blue" >
    <h1>AUTH RESPONSE</h1>
    <br>
    <table style="width:100%">
      <tr>
        <th>User:</th>
        <td>{{response.username}}</td>
      </tr>
      <tr>
        <th>Roles:</th>
        <td>{{response.roles}}</td>
      </tr>
      <tr>
        <th>Token:</th>
        <td>{{response.token}}</td>
      </tr>
    </table>
  </div>
</div>
